<button mat-raised-button color="primary" (click)="openDialogAdd()">Add</button>

<app-table [dataSource]="dataSource"></app-table>


<ng-template #dialogAdd>
    <h1 mat-dialog-title>Add Element</h1>
    <div mat-dialog-content>
      <form class="example-form">  
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="data.title" name="title">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="data.description" name="description">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Slug</mat-label>
            <input matInput [(ngModel)]="data.slug" name="slug">
          </mat-form-field>
        </p>
      </form> 
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
    </div>
  </ng-template>